.footer{
    bottom: 0;
    width: 100%;
    background-color: #262626;
}

.flexDirection{
    flex-direction: column;
}

.description, .contact, .copyright, .footerlinks li button, .footerlinks li a{
    color: #CCAD8F;
}

.description{
  min-width: 200px;
}

.about{
  max-width: 600px;
}

.about p{
  text-align: justify;
}

.contact{
    max-width: fit-content;
}

.contact h6{
    margin-left: .75rem;
}

.about{
  margin-inline: 1rem;
}

.footerlinks
{
  padding-left:0;
  list-style:none
}

.copyright
{
  border-top: #CCAD8F 1px solid;
  text-align: center;
  background-color: #A30018;
}

.footerlinks a, .footerlinks button{
  border-color: transparent;
}

.btnNone{
    cursor: initial!important;
}

.btnNone:hover{
    background-color: transparent!important;
    border-color: transparent!important;
    color: #CCAD8F!important;
}

@media (max-width:600px)
{
  .aboutContact{
    flex-direction: column;
  }
}